USE [master]
GO
/****** Object:  Database [ChuongTrinhDaoTao]    Script Date: 12/30/2021 12:13:35 AM ******/
CREATE DATABASE [ChuongTrinhDaoTao]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChuongTrinhDaoTao', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ChuongTrinhDaoTao.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChuongTrinhDaoTao_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ChuongTrinhDaoTao_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChuongTrinhDaoTao].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChuongTrinhDaoTao]
GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 12/30/2021 12:13:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[MACN] [char](20) NOT NULL,
	[TENCN] [nvarchar](max) NULL,
	[MAKHOA] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDAOTAO]    Script Date: 12/30/2021 12:13:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDAOTAO](
	[MACT] [char](10) NOT NULL,
	[TENCT] [nvarchar](50) NULL,
	[TRINHDO] [nvarchar](50) NULL,
	[NGANHDAOTAO] [nvarchar](50) NULL,
	[LOAIHINH] [nvarchar](50) NULL,
	[MAKH] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 12/30/2021 12:13:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [char](20) NOT NULL,
	[IDHP] [char](20) NOT NULL,
	[MAHP] [char](10) NOT NULL,
	[DIEM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[IDHP] ASC,
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 12/30/2021 12:13:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHAN](
	[IDHP] [char](20) NOT NULL,
	[MAHP] [char](10) NOT NULL,
	[TENHP] [nvarchar](50) NULL,
	[SOTC] [int] NULL,
	[HOCKY] [int] NULL,
	[TGBATDAU] [date] NULL,
	[TGKETTHUC] [date] NULL,
	[HINHTHUC] [nvarchar](50) NULL,
	[LOAIHP] [nvarchar](50) NULL,
	[MACT] [char](10) NOT NULL,
	[MACN] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHP] ASC,
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12/30/2021 12:13:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [char](10) NOT NULL,
	[TENKHOA] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[SODIENTHOAT] [char](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOAHOC]    Script Date: 12/30/2021 12:13:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOAHOC](
	[MAKH] [char](20) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[NAMBD] [char](20) NULL,
	[NAMKT] [char](20) NULL,
	[MAKHOA] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/30/2021 12:13:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](20) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
	[MAKH] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/30/2021 12:13:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](20) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[MALOP] [char](20) NOT NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[TAIKHOAN] [nvarchar](100) NULL,
	[MATKHAU] [nvarchar](100) NULL,
	[GHICHU] [ntext] NULL,
	[MACN] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CHUYENNGANH] ([MACN], [TENCN], [MAKHOA]) VALUES (N'CNPM                ', N'Công nghệ phần mềm', N'7480201   ')
INSERT [dbo].[CHUYENNGANH] ([MACN], [TENCN], [MAKHOA]) VALUES (N'HTTT                ', N'Hệ thống thông tin', N'7480201   ')
GO
INSERT [dbo].[CTDAOTAO] ([MACT], [TENCT], [TRINHDO], [NGANHDAOTAO], [LOAIHINH], [MAKH]) VALUES (N'01        ', N'Chương trình đào tạo Công nghệ thông tin', N'Đại học', N'Công nghệ thông tin', N'Chính quy tập trung', N'08DH                ')
INSERT [dbo].[CTDAOTAO] ([MACT], [TENCT], [TRINHDO], [NGANHDAOTAO], [LOAIHINH], [MAKH]) VALUES (N'02        ', N'Chương trình đào tạo Công nghệ thông tin', N'Đại học', N'Công nghệ thông tin', N'Chính quy tập trung', N'09DH                ')
INSERT [dbo].[CTDAOTAO] ([MACT], [TENCT], [TRINHDO], [NGANHDAOTAO], [LOAIHINH], [MAKH]) VALUES (N'03        ', N'Chương trình đào tạo Công nghệ thông tin', N'Đại học', N'Công nghệ thông tin', N'Chính quy tập trung', N'10DH                ')
GO
INSERT [dbo].[DIEM] ([MASV], [IDHP], [MAHP], [DIEM]) VALUES (N'2001170335          ', N'08DHTHHPHTTT1       ', N'0101001600', 9.16)
INSERT [dbo].[DIEM] ([MASV], [IDHP], [MAHP], [DIEM]) VALUES (N'2001170335          ', N'08DHTHHPHTTT1       ', N'0101001658', 4.49)
INSERT [dbo].[DIEM] ([MASV], [IDHP], [MAHP], [DIEM]) VALUES (N'2001170335          ', N'08DHTHHPHTTT1       ', N'0101003491', 4.59)
GO
INSERT [dbo].[HOCPHAN] ([IDHP], [MAHP], [TENHP], [SOTC], [HOCKY], [TGBATDAU], [TGKETTHUC], [HINHTHUC], [LOAIHP], [MACT], [MACN]) VALUES (N'08DHTHHPCNPM1       ', N'0101001600', N'Đối chiếu bằng tốt nghiệp THPT, TCCN, hoặc CĐ*', 0, 1, CAST(N'2017-08-20' AS Date), CAST(N'2017-10-23' AS Date), N'Bắt buộc', N'Lý thuyết', N'01        ', N'CNPM                ')
INSERT [dbo].[HOCPHAN] ([IDHP], [MAHP], [TENHP], [SOTC], [HOCKY], [TGBATDAU], [TGKETTHUC], [HINHTHUC], [LOAIHP], [MACT], [MACN]) VALUES (N'08DHTHHPCNPM1       ', N'0101001658', N'Giáo dục quốc phòng - an ninh 1*', 4, 1, CAST(N'2017-08-21' AS Date), CAST(N'2017-12-20' AS Date), N'Bắt buộc', N'Lý thuyết', N'01        ', N'CNPM                ')
INSERT [dbo].[HOCPHAN] ([IDHP], [MAHP], [TENHP], [SOTC], [HOCKY], [TGBATDAU], [TGKETTHUC], [HINHTHUC], [LOAIHP], [MACT], [MACN]) VALUES (N'08DHTHHPCNPM1       ', N'0101003491', N'Những nguyên lý cơ bản của chủ nghĩa Mác-Lênin 1', 2, 1, CAST(N'2017-08-20' AS Date), CAST(N'2017-12-19' AS Date), N'Bắt buộc', N'Lý thuyết', N'01        ', N'CNPM                ')
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [DIACHI], [SODIENTHOAT]) VALUES (N'7480201   ', N'Khoa Công nghệ Thông tin', N'140 Lê Tr?ng T?n, Phu?ng Tây Th?nh, Qu?n Tân Phú, TP.HCM', N'0283 8163 318                                     ')
GO
INSERT [dbo].[KHOAHOC] ([MAKH], [TENKH], [NAMBD], [NAMKT], [MAKHOA]) VALUES (N'08DH                ', N'Khóa 08DHTH', N'2017                ', N'2021                ', N'7480201   ')
INSERT [dbo].[KHOAHOC] ([MAKH], [TENKH], [NAMBD], [NAMKT], [MAKHOA]) VALUES (N'09DH                ', N'Khóa 09DHTH', N'2018                ', N'2022                ', N'7480201   ')
INSERT [dbo].[KHOAHOC] ([MAKH], [TENKH], [NAMBD], [NAMKT], [MAKHOA]) VALUES (N'10DH                ', N'Khóa 10DHTH', N'2019                ', N'2023                ', N'7480201   ')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH]) VALUES (N'08DHTH1             ', N'Lớp 08DHTH1', N'08DH                ')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH]) VALUES (N'08DHTH2             ', N'Lớp 08DHTH2', N'08DH                ')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH]) VALUES (N'09DHTH1             ', N'Lớp 09DHTH1', N'09DH                ')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [MALOP], [GIOITINH], [NGAYSINH], [NOISINH], [DIACHI], [TAIKHOAN], [MATKHAU], [GHICHU], [MACN]) VALUES (N'2001170335          ', N'Cao An AN', N'08DHTH1             ', N'Nữ', CAST(N'1999-10-05T00:00:00.000' AS DateTime), N'An Giang', N'Tân Phú', N'sv1', N'123', NULL, N'HTTT                ')
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [MALOP], [GIOITINH], [NGAYSINH], [NOISINH], [DIACHI], [TAIKHOAN], [MATKHAU], [GHICHU], [MACN]) VALUES (N'2001170370          ', N'Hứa Đăng Khôi', N'08DHTH1             ', N'Nam', CAST(N'1999-10-20T00:00:00.000' AS DateTime), N'An Giang', N'Tân Phú', N'sv3', N'123', NULL, N'CNPM                ')
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [MALOP], [GIOITINH], [NGAYSINH], [NOISINH], [DIACHI], [TAIKHOAN], [MATKHAU], [GHICHU], [MACN]) VALUES (N'2001170373          ', N'Nguyễn Nhật Lâm', N'08DHTH1             ', N'Nam', CAST(N'1999-03-31T00:00:00.000' AS DateTime), N'Long An', N'Tân Phú', N'nhatlam', N'123', N'ok', N'CNPM                ')
GO
ALTER TABLE [dbo].[CHUYENNGANH]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENNGANH_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[CHUYENNGANH] CHECK CONSTRAINT [FK_CHUYENNGANH_KHOA]
GO
ALTER TABLE [dbo].[CTDAOTAO]  WITH CHECK ADD  CONSTRAINT [FK_CTDAOTAO_KHOAHOC] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOAHOC] ([MAKH])
GO
ALTER TABLE [dbo].[CTDAOTAO] CHECK CONSTRAINT [FK_CTDAOTAO_KHOAHOC]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_HOCPHAN] FOREIGN KEY([IDHP], [MAHP])
REFERENCES [dbo].[HOCPHAN] ([IDHP], [MAHP])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_HOCPHAN]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[HOCPHAN]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHAN_CHUYENNGANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
GO
ALTER TABLE [dbo].[HOCPHAN] CHECK CONSTRAINT [FK_HOCPHAN_CHUYENNGANH]
GO
ALTER TABLE [dbo].[HOCPHAN]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHAN_CTDAOTAO] FOREIGN KEY([MACT])
REFERENCES [dbo].[CTDAOTAO] ([MACT])
GO
ALTER TABLE [dbo].[HOCPHAN] CHECK CONSTRAINT [FK_HOCPHAN_CTDAOTAO]
GO
ALTER TABLE [dbo].[KHOAHOC]  WITH CHECK ADD  CONSTRAINT [FK_KHOAHOC_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[KHOAHOC] CHECK CONSTRAINT [FK_KHOAHOC_KHOA]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOAHOC] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOAHOC] ([MAKH])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOAHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_CHUYENNGANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_CHUYENNGANH]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
USE [master]
GO
